@import "../../../globalStyles/scss/variables.scss";

.account-menu {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #fff;

  &__heading {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 24px;
    line-height: 27px;
    color: #313131;
    padding-top: 33px;
    padding-left: 37px;
    padding-bottom: 16px;
    border-bottom: 1px solid rgba($color: #666, $alpha: 0.15);
  }

  &__links {
    display: flex;
    flex-direction: column;
    margin-top: 34px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 27px;
    color: #4f647a;
    flex: 1;
  }

  &__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    padding-left: 31px;
    padding-right: 24px;

    &--active {
      border-left: 9px solid $yellow-color;
      padding-left: 22px;
    }
  }

  &__buttons {
    padding-left: 37px;
    padding-bottom: 37px;
    & > * {
      margin-top: 20px;
    }
  }
}

.privacy-policy-button {
  font-weight: bold;
  font-size: 16px;
  line-height: 17px;
  text-transform: uppercase;
  color: #313131;
}
