@import "../../../globalStyles/scss/variables.scss";

.hp-slider {
  width: 96%;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: 600px) {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;

    &__header {
      flex-direction: column;
    }
  }

  &__header {
    display: flex;
    margin-bottom: 60px;
  }

  &__title {
    white-space: nowrap;
    margin-right: 10px;
    font-weight: 800;
    font-size: 48px;
    line-height: 98.3%;
  }

  &__slider-bar-container {
    width: 100%;
    margin-top: 24px;
  }

  &__slider-bar {
    -webkit-appearance: none; /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 1px; /* Specified height */
    background: rgba(160, 160, 160, 0.3); /* Grey background */
    outline: none; /* Remove outline */

    /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
    &::-webkit-slider-thumb {
      -webkit-appearance: none; /* Override default look */
      appearance: none;
      width: 70px; /* Set a specific slider handle width */
      height: 16px; /* Slider handle height */
      background: $yellow-color; /* Green background */
      cursor: pointer; /* Cursor on hover */
    }

    &::-moz-range-thumb {
      width: 70px; /* Set a specific slider handle width */
      height: 16px; /* Slider handle height */
      background: $yellow-color; /* Green background */
      cursor: pointer; /* Cursor on hover */
    }
  }
}
