@import "../../../globalStyles/scss/variables.scss";

.details {
  border-top: 1px dashed rgba(0, 0, 0, 0.25);
  padding-top: 17px;
  padding-bottom: 12px;
  padding-left: 10px;

  summary {
    outline: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #2e2e2e;
  }

  summary::-webkit-details-marker {
    display: none;
  }

  summary::after {
    content: "";
    display: inline-block;
    width: 10px;
    height: 12px;
    background-image: url("../../../images/angle-right.png");
    margin-left: 35px;
  }

  &[open] {
    summary::after {
      transform: rotate(90deg);
    }

    p {
      padding-top: 10px;
    }
  }
}
