@import "../../../globalStyles/scss/variables.scss";

.breadcrumbs {
  text-transform: uppercase;
  color: #adb4b5;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-align: center;
  li {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    &:not(:last-child) {
      border-right: 1px solid #adb4b5;
    }
  }
}
