@import "../../../globalStyles/scss/variables.scss";

.checkout-details-form {
}

.horizontal-text-line {
  width: 100%;
  display: flex;
  align-items: center;

  & > *:first-child,
  > *:last-child {
    flex: 1;
    height: 1px;
    background-color: #c4c4c4;
  }

  & > *:first-child {
    margin-right: 46px;
  }
  & > *:last-child {
    margin-left: 46px;
  }
}
